@import "../../assets/styles/variable";

.card-container {
  margin: 20px 0;
  .card {
    cursor: pointer;
    width: 180px;
    height: 180px;
    border-radius: 5px;
    svg {
      width: 25px;
      height: 25px;
      color: $dark-grey;
    }
    h5 {
      font-size: 16px;
      margin: 10px 0;
      font-weight: 600;
      color: $dark-grey;
    }
    p {
      font-size: 14px;
      margin: 10px 0;
      font-weight: 500;
      color: $light-grey;
    }
    &.selected {
      border: 1px solid $purple;
      svg {
          fill: $purple;
      }
    }
  }
}
