@import './variable';

.MuiStep-root {
    padding: 0 !important;
    .MuiStepLabel-iconContainer {
      padding: 0 !important;
    }
  .MuiStepLabel-iconContainer {
    .MuiSvgIcon-root.MuiStepIcon-root {
      height: 2em;
      width: 1.2em;
      color: $white;
      circle {
          stroke: $light-grey;
          stroke-width: 0.5px;
      }
      &.Mui-active {
        color: $purple !important;
        .MuiStepIcon-text {
            font-size: 0.6rem;
            fill: $white !important;
          }
      }
    }
    .MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
      color: $purple;
    }
    .MuiStepIcon-text {
      font-size: 0.6rem;
      fill: $light-grey;
    }
  }
}
.MuiStepConnector-line {
  width: 40px;
  color: black;
}